/* media query tablet */
@media screen and (max-width: 774px) {

    body {
        font-size: 0.9rem;
    }

    .container,
    .main-container {
        width: 95%;
    }

    .h-top-left {
        width: 65%;
    }

    .secondary-search {
        width: 65%;
    }

    .h-top-right {
        a {
            width: 70px;
        }
    }

    /* main */

    /* explore side */
    #explore {
        width: 65%;
    }

    .album-card{
        width: calc((100% / 2) - 1rem);
    }


    /* focus side */
    #focus {
        width: 35%;


        .focus-song {
            margin: 2rem 0 1.5rem;

            i {
                font-size: 4.5rem;
            }
        }

        .song-info {
            gap: 0.2rem;
        }

        .focus-album-info {
            margin-top: 1.5rem;
        }

        .profile-picture {
            width: 3.5rem;
        }
    }
}



@media screen and (max-width: 600px) {
    
}