/* #region CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */


/* #region Generics */
body {
    height: 100vh;
}

img {
    display: block;
}

a{
    text-decoration: none;
}

:root {
    --band-primary: #222222;
    --band-head-btm: #2b2b2b;
    --band-search: #464646;
}

/* #endregion */




/* degub */
.debug {
    * {
        border: 1px dashed black;
    }

    /* header {
        background-color: blue;
    } */

    /* .header-top,
    .header-bottom {
        height: 50%;
    } */

    /* .h-top-left {
        width: 450px;
        height: 100%;
        background-color: white;
    } */

    /* .h-top-right {
        width: 200px;
        height: 100%;
        background-color: white;
    } */

    .tag-research {
        width: 450px;
        height: 100%;
        background-color: white;
    }

    .album-card {

        .album-cover {
            width: 100%;
            aspect-ratio: 1 / 1;
            background-color: orange;
        }

        .album-title {
            width: 100%;
            height: 2rem;
            background-color: yellow;
        }

        .album-genre {
            width: 100%;
            height: 1rem;
            background-color: greenyellow;
        }
    }



    #focus {

        .focus-cover {
            width: 100%;
            aspect-ratio: 1 / 1;
            background-color: orange;
        }

        .focus-title {
            width: 100%;
            height: 4rem;
            background-color: yellow;
        }

        .focus-go-to {
            width: 100%;
            height: 3rem;
            background-color: greenyellow;
        }

        .focus-wishlist {
            width: 100%;
            height: 3rem;
            background-color: greenyellow;
        }

        .focus-info {
            width: 100%;
            height: 2.5rem;
            background-color: green;
        }

        .focus-profile {
            width: 100%;
            height: 2.5rem;
            background-color: darkgreen;
        }

        .focus-follow {
            width: 100%;
            height: 3rem;
            background-color: darkolivegreen;
        }
    }
}





/* #region commons */
.d-flex {
    display: flex;
}




/* #region styles */

/* #region Header */
header {
    background-color: var(--band-primary);
    padding: 0.5rem 2rem;
}

.header-top {
    align-items: center;
    justify-content: space-between;
}

.h-top-left {
    align-items: center;
    gap: 2rem;
}

#logo {
    width: 150px;

    & * {
        width: 100%;
    }
}

#logo-mobile {
    display: none;
}

.searchbar {
    padding: 0.6rem 10rem 0.6rem 0.6rem;
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--band-search);
    border-radius: 3px;

    i {
        margin-right: 0.5rem;
    }
}

.h-top-right{
    a{
        color: white;
        margin-left: 2rem;
    }
}

.header-bottom {
    background-color: var(--band-head-btm);
}






main {
    height: calc(100% - 108px);
    background-color: red;
    padding: 1rem 1.5rem 0;
    gap: 1rem;
}

.main-left {
    width: 70%;
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-right {
    width: 30%;
}

.album-card {
    width: calc((100% / 4) - 1rem);
}


#focus {
    overflow-y: auto;
}