/* #region CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */


/* #region Generics */
body {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--band-primary);
}

img {
    display: block;
}

a {
    text-decoration: none;
}

:root {
    --band-primary: #222222;
    --band-head-btm: #2b2b2b;
    --band-search: #464646;
    --band-txt-gray: #969696;
    --hover-lighter: #cccccc;
    --hover-darker: #686868;
}

/* #endregion */




/* #region degub */
.debug {
    * {
        border: 1px dashed red;
    }

    header {
        background-color: blue;
    }

    .header-top,
    .header-bottom {
        height: 50%;
    }

    .h-top-left {
        width: 450px;
        height: 100%;
        background-color: white;
    }

    .h-top-right {
        width: 200px;
        height: 100%;
        background-color: white;
    }

    .tag-research {
        width: 450px;
        height: 100%;
        background-color: white;
    }

    .album-card {

        .album-cover {
            width: 100%;
            aspect-ratio: 1 / 1;
            background-color: orange;
        }

        .album-title {
            width: 100%;
            height: 2rem;
            background-color: yellow;
        }

        .album-genre {
            width: 100%;
            height: 1rem;
            background-color: greenyellow;
        }
    }



    #focus {

        .focus-cover {
            width: 100%;
            aspect-ratio: 1 / 1;
            background-color: orange;
        }

        .focus-reproduce {
            width: 100%;
            height: 4rem;
            background-color: yellow;
        }

        .focus-go-to {
            width: 100%;
            height: 3rem;
            background-color: greenyellow;
        }

        .focus-wishlist {
            width: 100%;
            height: 3rem;
            background-color: greenyellow;
        }

        .focus-info {
            width: 100%;
            height: 2.5rem;
            background-color: green;
        }

        .focus-profile {
            width: 100%;
            height: 2.5rem;
            background-color: darkgreen;
        }

        .focus-follow {
            width: 100%;
            height: 3rem;
            background-color: darkolivegreen;
        }
    }
}

/* #endregion */





/* #region commons */
.container {
    width: 80%;
    margin: 0 auto;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    height: 100vh;

}

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--band-txt-gray) var(--band-primary);
}

/* #region buttons */
.btn {
    padding: 0.6rem 0;
    padding-left: 1rem;
    color: var(--band-txt-gray);
    background-color: var(--band-search);

    i {
        margin-right: 0.5rem;
    }
}

.search {
    width: calc(100% - 150px);
    border-radius: 5px;
}

.secondary-search {
    width: 35%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

.focus-btn {
    width: 100%;
    padding: 1rem 0;
    border-radius: 5px;
    color: var(--band-primary);
    font-size: 1rem;
    border: none;
}

.bgc-white {
    background-color: white;
}

.bgc-empty {
    color: white;
    background-color: var(--band-primary);
    border: 1px solid white;
}

/* #endregion buttons */



/* #region Header */
header {
    height: 120px;
    background-color: var(--band-primary);
}

.header-top {
    align-items: center;
    justify-content: space-between;
}

.h-top-left {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 35%;
}

#logo {
    width: 150px;
    cursor: pointer;

    & * {
        width: 100%;
    }
}

#logo-mobile {
    display: none;
}

.h-top-right {
    

    i {
        color: white;
        display: none;
    }
}

.h-top-right>a {
        color: white;
        width: 90px;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }

.h-top-right a:hover {
    background-color: var(--band-search);
}

.header-bottom {
    background-color: var(--band-head-btm);
    padding: 0.5rem 0;
}

/* #endregion */






/* #region main */
main {
    padding-top: 2rem;
}

#explore {
    height: calc(100% - 120px - 2rem);
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 1rem;
    overflow: auto;
}


.album-card {
    width: calc((100% / 4) - 1rem);
    margin-bottom: 3.5rem;




    .album-cover {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        position: relative;
        left: 0;
        top: 0;

        .play-button {
            position: absolute;
            left: 1rem;
            bottom: 1rem;
            cursor: pointer;
            font-size: 2rem;
            color: white;
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .album-title {
        color: white;
        margin: 0.5rem 0;
    }

    .album-author {
        color: white;
        margin: 0.5rem 0;
    }

    .album-genre {
        color: var(--band-txt-gray);
    }
}

.album-card:hover {
    .album-cover {
        border: 1px solid transparent;
    }

    .play-button {
        display: block;
    }
}


#focus {
    height: calc(100% - 120px - 2rem);
    width: 30%;
    padding: 0 1rem;
    left: 0;
    overflow: auto;



    /* cover */
    .focus-cover {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.5);

        img {
            width: 100%;
        }
    }





    /* song */
    .focus-song {
        color: white;
        align-items: center;
        margin: 3rem 0 2rem;

        i {
            font-size: 5rem;
            margin-right: 1rem;
        }
    }

    .song-info {
        width: 100%;
        flex-direction: column;
        gap: 0.5rem;
    }

    .song-name {
        color: white;
    }

    .focus-song i:hover {
        color: var(--hover-lighter);
        cursor: pointer;
    }






    /* buttons */
    button {
        margin: 0.5rem 0;
    }

    button:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    button.bgc-white:hover {
        background-color: var(--hover-lighter);
    }

    button.bgc-empty:hover {
        background-color: var(--hover-darker);
    }






    /* album-infos */
    .focus-album-info,
    .focus-album-release {
        color: white;
        margin-bottom: 0.5rem;
    }

    .focus-album-info {
        margin-top: 2rem;
    }






    /* profile */
    .focus-profile {
        align-items: center;
        margin: 2rem 0 0.7rem;
    }

    .profile-picture {
        width: 4.5rem;
        aspect-ratio: 1 / 1;
        display: inline-block;
        margin-right: 1rem;

        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    .profile-info {
        flex-direction: column;
        gap: 0.5rem;
        color: white;
    }





    /* follow button */
    #follow {
        margin-bottom: 2rem;
    }
}

/* #endregion */