/* #region CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */


/* #region Generics */
body {
    height: 100vh;
}

:root{
    --band-primary: #222222;
    --band-head-btm: #2b2b2b;
    --band-search: #464646;
}

/* #endregion */




/* degub */
.debug {
    * {
        border: 1px dashed black;
    }

    header {
        background-color: blue;
    }

    .header-top,
    .header-bottom {
        height: 50%;
    }

    .album-card {
        height: 350px;
    }
}





/* #region commons */
.d-flex {
    display: flex;
}




/* #region styles */
header {
    height: 108px;
}

main {
    height: calc(100% - 108px);
    background-color: red;
    padding: 1rem 1.5rem 0;
    gap: 1rem;
}

.main-left {
    width: 70%;
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-right {
    width: 30%;
}

.album-card {
    width: calc((100% / 4) - 1rem);
}