/* #region CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */


/* #region Generics */
body {
    height: 100vh;
    overflow: hidden;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

:root {
    --band-primary: #222222;
    --band-head-btm: #2b2b2b;
    --band-search: #464646;
    --band-txt-gray: #969696;
}

/* #endregion */




/* degub */
.debug {
    * {
        border: 1px dashed red;
    }

    /* header {
        background-color: blue;
    } */

    /* .header-top,
    .header-bottom {
        height: 50%;
    } */

    /* .h-top-left {
        width: 450px;
        height: 100%;
        background-color: white;
    } */

    /* .h-top-right {
        width: 200px;
        height: 100%;
        background-color: white;
    } */

    /* .tag-research {
        width: 450px;
        height: 100%;
        background-color: white;
    } */

    /* .album-card {

        .album-cover {
            width: 100%;
            aspect-ratio: 1 / 1;
            background-color: orange;
        }

        .album-title {
            width: 100%;
            height: 2rem;
            background-color: yellow;
        }

        .album-genre {
            width: 100%;
            height: 1rem;
            background-color: greenyellow;
        }
    } */



    #focus {

        .focus-cover {
            width: 100%;
            aspect-ratio: 1 / 1;
            background-color: orange;
        }

        .focus-title {
            width: 100%;
            height: 4rem;
            background-color: yellow;
        }

        .focus-go-to {
            width: 100%;
            height: 3rem;
            background-color: greenyellow;
        }

        .focus-wishlist {
            width: 100%;
            height: 3rem;
            background-color: greenyellow;
        }

        .focus-info {
            width: 100%;
            height: 2.5rem;
            background-color: green;
        }

        .focus-profile {
            width: 100%;
            height: 2.5rem;
            background-color: darkgreen;
        }

        .focus-follow {
            width: 100%;
            height: 3rem;
            background-color: darkolivegreen;
        }
    }
}





/* #region commons */
.d-flex {
    display: flex;
}


/* #region buttons */
.btn {
    padding: 0.6rem 0;
    padding-left: 1rem;
    color: var(--band-txt-gray);
    background-color: var(--band-search);

    i {
        margin-right: 0.5rem;
    }
}

.search {
    width: calc(100% - 150px);
    border-radius: 5px;
}

.secondary-search {
    width: 35%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

/* #endregion buttons */



/* #region Header */
header {
    background-color: var(--band-primary);
}

.header-top {
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.h-top-left {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 35%;
}

#logo {
    width: 150px;

    & * {
        width: 100%;
    }
}

#logo-mobile {
    display: none;
}

.h-top-right {
    a {
        color: white;
        margin-left: 2rem;
    }
}

.header-bottom {
    background-color: var(--band-head-btm);
    padding: 0.5rem 2rem;
}

/* #endregion */






/* #region main */
main {
    height: calc(100% - 108px);
    background-color: var(--band-primary);
    padding: 1rem 1.5rem 0;
    gap: 1rem;
}

#explore {
    width: 70%;
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 1rem;
}


.album-card {
    width: calc((100% / 4) - 1rem);

    .album-cover {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.5);

        img {
            width: 100%;
        }
    }

    .album-title{
        color: white;
        margin: 1rem 0
    }

    .album-author{
        color: white;
        margin: 1rem 0;
    }

    .album-genre {
        color: var(--band-txt-gray);
    }
}


#focus {
    width: 30%;
    overflow-y: auto;
}